<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">e袋洗</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>菜单栏</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#">帮助</a></li>
        <li class="has-dropdown">
          <a href="#">我的信息</a>
          <ul class="dropdown">
            <li><a href="#">修改密码</a></li>
            <li><a href="<?php echo site_url(); ?>/admin/logout">退出</a></li>
          </ul>
        </li>
      </ul>

      <ul class="left">
        <li><a href="<?php echo site_url(); ?>/home">网站</a></li>
      </ul>
    </section>
  </nav>
</div>
