<?php $this->load->view('mobile/public/header.html'); ?>

<!-- top nav Begin-->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a class="pbm_back" href="<?php echo mobile_url('mobile/member', 1); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_back.png"></a></h1>
    </li>
  </ul>
  <section class="middle tab-bar-section">
    <h1 class="title_con">家人信息</h1>
  </section>
  <section class="right tab-bar-section">
    <a href="<?php echo mobile_url('mobile/family/create', $this->session->userdata['wx']); ?>" style="color:#fff; font-size:16px">添加</i></a>
  </section>
</nav>
<!-- top nav end-->

<div class="row container_con">
  <div class="small-12 columns">
    <?php $this->load->view('mobile/public/alert.html'); ?>
    <?php if($list){ ?>
    <?php foreach($list as $row){ ?>
    <a href="<?php echo mobile_url('mobile/family/update/'.$row['id'], 1); ?>">
      <div class="panel marginTop10">
        <h5><?php echo $row['title']; ?>:<span style="color:#999; padding-left:15px"><?php echo $row['name']; ?></span></h5>
        <p style="color:#999"><?php echo $row['mobile']; ?></p>
        <p style="color:#999"><span class="city_value" style="margin-right:5px;"><?php echo $row['city']; ?></span><?php echo $row['address']; ?></p>
      </div>
    </a>
    <?php } ?>
    <?php }else{ ?>
    <h4>数据为空，请添加家庭成员信息。</h4>
    <?php } ?>

    <!--
    <div class="small-12 columns" style="margin-bottom:60px">
      <a href="<?php echo mobile_url('mobile/family/create', $this->session->userdata['wx']); ?>" class="button small expand">添加成员1</a>
    </div>
    -->
  </div>
</div>

<?php $this->load->view('mobile/public/footer.html'); ?>
<script src="<?php echo base_url(); ?>foundation/js/city.js"></script>
