<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">

    <h1>留言管理</h1>

    <?php if($this->session->flashdata('result_code')){ ?>
    <div data-alert class="alert-box">
      <?php echo $this->session->flashdata('result_msg'); ?>
      <a href="#" class="close">&times;</a>
    </div>
    <?php } ?>

    <?php echo $breadcrumbs; ?>
    <table>
      <thead>
        <tr>
          <th>姓名</th>
          <th>类型</th>
          <th>内容</th>
          <th>创建时间</th>
        </tr>
      </thead>
      <tbody>
        <?php if($list){ ?>
        <?php foreach($list as $row){ ?>
        <tr>
          <td><a href="<?php echo site_url().'/admin/message/view/'.$row['id']; ?>"><?php echo $row['member_name']; ?></a></td>
          <td><?php echo $row['type_string']; ?></td>
          <td><?php echo $row['content']; ?></td>
          <td><?php echo $row['create_date']; ?></td>
        </tr>
        <?php } ?>
        <?php }else{ ?>
        <?php } ?>
      </tbody>
    </table>
    <?php echo $this->pagination->create_links(); ?>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
