<?php $this->load->view('mobile/public/header.html'); ?>

<!-- top nav Begin-->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a class="pbm_back" href="<?php echo mobile_url('mobile/member', $this->session->userdata['wx']); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_back.png"></a></h1>
    </li>
  </ul>
  <section class="middle tab-bar-section">
    <h1 class="title_con">我的信息</h1>
  </section>
</nav>
<!-- top nav end-->
<!-- 信息修改部分 Begin-->
<div class="small-12 columns">
<form method="POST" action="<?php echo mobile_url('mobile/member/base', $this->session->userdata['wx']); ?>" onsubmit="return member_valid()">
  <div class="row">
    <?php $this->load->view('mobile/public/alert.html'); ?>
    <!-- 姓名部分 Begin-->
    <div class="small-12 pbm_family">
      <div class="small-2 left">
        <img src="<?php echo base_url(); ?>foundation/images/pbm_icon_name.png">
      </div>
      <div class="small-3 left">
        <label >姓名</label>
      </div>
      <div class="small-7 left">
        <input type="text" name="name" id="name" value="<?php echo $info['name']; ?>">
      </div>
    </div>
    <!-- 手机部分 Begin-->
    <div class="small-12 pbm_family">
      <div class="small-2 left">
        <img src="<?php echo base_url(); ?>foundation/images/pbm_icon_mobile.png">
      </div>
      <div class="small-3 left">
        <label>手机号</label>
      </div>
      <div class="small-7 left">
        <input type="tel" name="mobile" id="mobile" value="<?php echo $info['mobile']; ?>">
      </div>
    </div>

    <div class="small-12 pbm_family" >
      <div class="small-2 left">
        <img src="<?php echo base_url(); ?>foundation/images/pbm_icon_address.png">
      </div>
      <div class="small-3 left">
        <label>城市街道</label>
      </div>
      <div class="small-7 left">
        <input type="city" name="city" id="city" value="<?php if($info['city_array']) echo $info['city_array'][0]['name'].','.$info['city_array'][1]['name'].','.$info['city_array'][2]['name']; ?>">
      </div>
    </div>
    <!--详细信息删除
    <div class="small-12 pbm_family" >
      <div class="small-2 left">
        <img src="<?php echo base_url(); ?>foundation/images/pbm_icon_address.png">
      </div>
      <div class="small-3 left">
        <label>详细地址：</label>
      </div>
      <div class="small-7 left">
        <input type="text" name="address"  id="address" value="<?php echo $info['address']; ?>" placeholder="请输入详细地址">
      </div>
    </div>
    -->

    <div class="small-12 columns" style="margin-top:20px">
      <input type="submit" class="button small expand" value="修改">
    </div>
  </div>
</form>
</div>
<!-- 信息修改部分 End-->
<?php $this->load->view('mobile/public/footer.html'); ?>
<script src="<?php echo base_url(); ?>foundation/js/city.js"></script>
