<?php $this->load->view('mobile/public/header.html'); ?>

<!-- top nav Begin-->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a class="pbm_back" href="<?php echo mobile_url('mobile/member', 1); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_back.png"></a></h1>
    </li>
  </ul>
  <section class="middle tab-bar-section">
    <h1 class="title_con">我的优惠券</h1>
  </section>
  
</nav>
<!-- top nav end-->
<div class="row container_con" style="background:#fff">
	<div class="space_split"></div>
  <div class="small-12 columns">
  	<ul>
  	<?php if(!empty($coupons)): ?>
  		<?php foreach ($coupons as $key => $value) { ?>
  		<li class="coupon_list">
  			<div class="coupon_block">
  				<div class="money">
  					<small>¥</small>
  					<b><?php echo $value['coupon_price'] ?></b>
  				</div>
  				<div class="title_f">
	  				<p><?php echo $value['title'] ?></p>
	  				<p class="title_font">
              <?php if(empty($value['least_price'])): ?>
                无支付限制
              <?php else:?>
                满<?php echo $value['least_price'] ?>减<?php echo $value['coupon_price'] ?>
              <?php endif;?>
            </p>
	  				<p class="gray_color"><?php echo $value['starttime']?>－<?php echo $value['endtime'] ?></p>
	  				<img src="<?php echo base_url(); ?>foundation/images/logo_img.png" class="coupon_icon">
	  			</div>
  			</div>
  		</li>
  		<?php } ?><!-- 
  		<li class="coupon_list">
  			<div class="coupon_block">
  				<div class="money">
  					<small>¥</small>
  					<b>200</b>
  				</div>
  				<div class="title_f">
	  				<p>此处放标题</p>
	  				<p class="title_font">限制条件 微信支付 满200减20</p>
	  				<p class="gray_color">2015.10.10－2015.10.10</p>
	  				<img src="<?php echo base_url(); ?>foundation/images/logo_img.png" class="coupon_icon">
	  			</div>
  			</div>
  		</li>
  	<?php endif; ?>
  		<li class="coupon_list">
  			<div class="coupon_block">
  				<div class="money">
  					<small>¥</small>
  					<b>200</b>
  				</div>
  				<div class="title_f">
	  				<p>此处放标题</p>
	  				<p class="title_font">限制条件 微信支付 满200减20</p>
	  				<p class="gray_color">2015.10.10－2015.10.10</p>
	  				<img src="<?php echo base_url(); ?>foundation/images/logo_img.png" class="coupon_icon">
	  			</div>
  			</div>
  		</li> -->
  	</ul>
    
  </div>
</div>

<?php $this->load->view('mobile/public/footer.html'); ?>

