<?php $this->load->view('mobile/public/header.html'); ?>

<!-- top nav Begin-->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a class="pbm_back" href="<?php echo mobile_url('mobile/member', $this->session->userdata['wx']); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_back.png"></a></h1>
    </li>
  </ul>
  <section class="middle tab-bar-section">
    <h1 class="title_con">我的时间</h1>
  </section>
</nav>
<div class="row">
  <div class="small-12 columns">
    <?php echo $calendar; ?>
  </div>
  <div class="small-12 columns">
    <ul id="nurse_time">
    </ul>
  </div>
</div>
<?php $this->load->view('mobile/public/footer.html'); ?>
<script src="<?php echo base_url(); ?>foundation/js/nurse_date.js"></script>
<script>
  $(function(){
    var a = $("th").find("a");
    a.each(function(){
      var link = $(this).attr("href");
      $(this).attr("href", link+'?wx=2');
    });

    var days = $(".nurse_date_item");
    url1 = '<?php echo site_url()."/api/check_date"; ?>';
    url2 = '<?php echo site_url()."/api/update_date_time"; ?>';
    nurse_id = '<?php echo $nurse_id; ?>';
    year = '<?php echo $year; ?>';
    month = '<?php echo $month; ?>';
    var data = '';
    days.each(function(index,element){
      data = {nurse_id:nurse_id,date:year+'-'+month+'-'+$(this).html()};
      var item = $(this);
      $.ajax({
        url: url1,
        data: data,
        type: "POST",
        async: true,
        success: function(result){
          if(result == 1){
            if(!item.hasClass("active")){
              item.addClass("active");
            }
          }
        }
      });
    });

  });
</script>
