<?php $this->load->view('mobile/public/header.html'); ?>
<div class="container"><img src="<?php echo base_url(); ?>/foundation/images/pbm_index_bg2.jpg"></div>

<div class="row" >
  <!--头像部分 Begin-->
  <div class="row pbm_info_tit" id="member">
    <div class="small-4 columns" style=" margin-top:20px">
      <img src="<?php echo $info['avatar']; ?>" style=" width:95px;">
    </div>
    <div class="small-8 columns" style=" margin-top:20px">
      <p class="pbm_mb_p" style="font-size:20px"><?php echo $info['name']; ?></p>
      <p class="pbm_mb_p"><?php echo $info['mobile']; ?></p>
    </div>
  </div>
  <!--头像部分 End-->

  <!--信息 Begin-->
  <div class="row" >
  <div class="small-12 columns" style="margin-bottom:80px">
    <ul class="side-nav">
      <li class="pbm_info_li">
        <a class="small-8" href="<?php echo mobile_url('mobile/member/base', $this->session->userdata['wx']); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_name.png" style=" width:30px; margin-right:10px;margin-top:-5px">我的信息</a>
        <!--<a class="small-2" style="float:right;" href="<?php echo mobile_url('mobile/member/base', $this->session->userdata['wx']); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_more.png"></a>-->
      </li>
      <?php if($this->session->userdata['wx'] == 1){ ?>
      <li class="pbm_info_li"><a href="<?php echo mobile_url('mobile/family'); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_family.png" style=" width:30px; margin-right:10px;margin-top:-5px">家人信息</a></li>
      <?php }else{ ?>
      <li class="pbm_info_li"><a href="<?php echo mobile_url('mobile/member/date', 2); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_birthday.png" style=" width:30px; margin-right:10px;margin-top:-5px">我的时间</a></li>
      <?php } ?>
      <!--我的订单删除
      <li class="pbm_info_li"><a href="<?php echo mobile_url('mobile/order', $this->session->userdata['wx']); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_order.png" style=" width:30px; margin-right:10px;margin-top:-5px">我的订单</a></li>
      -->
      <li class="pbm_info_li"><a href="<?php echo mobile_url('mobile/message', $this->session->userdata['wx']); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_yjfk.png" style=" width:30px; margin-right:10px;margin-top:-5px">意见反馈</a></li>


      <?php if($this->session->userdata['wx'] == 1){ ?>
      <li class="pbm_info_li"><a href="<?php echo mobile_url('mobile/page/question', 1); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_ask.png" style=" width:30px; margin-right:10px;margin-top:-5px">常见问题</a></li>
      <?php } ?>


      <li class="pbm_info_li"><a href="tel://01053609188"><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_mobile.png" style=" width:30px; margin-right:10px;margin-top:-5px">服务热线</a></li>
      <!--
      <li class="pbm_info_li"><a href=""><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_xy.png" style=" width:30px; margin-right:10px;margin-top:-5px">用户协议</a></li>
      -->
    </ul>
  </div>
</div>
</div>

<?php $this->load->view('mobile/public/btn_bar.html'); ?>
<?php $this->load->view('mobile/public/footer.html'); ?>
