<?php $this->load->view('mobile/public/header.html'); ?>
<form method="POST" action="<?php echo mobile_url('mobile/member/register', 2); ?>">
  <div class="row">
    <div class="small-12 columns <?php if(form_error('name')) echo 'error'; ?>">
      <label>Name
        <input type="text" name="name" value="<?php echo set_value('name'); ?>">
      </label>
      <?php echo form_error('name'); ?>
    </div>
    <div class="small-12 columns <?php if(form_error('mobile')) echo 'error'; ?>">
      <label>Mobile
        <input type="number" name="mobile" value="<?php echo set_value('mobile'); ?>">
      </label>
      <?php echo form_error('mobile'); ?>
    </div>
    <div class="small-12 columns <?php if(form_error('content')) echo 'error'; ?>">
      <label>Content
        <textarea name="content"><?php echo set_value('content'); ?></textarea>
      </label>
      <?php echo form_error('content'); ?>
    </div>
    <div class="small-12 columns">
      <input type="submit" class="button tiny expand" value="Submit">
    </div>
  </div>
</form>
<?php $this->load->view('mobile/public/footer.html'); ?>
