<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">

    <h1>服务记录</h1>

    <?php if($this->session->flashdata('result_code')){ ?>
    <div data-alert class="alert-box">
      <?php echo $this->session->flashdata('result_msg'); ?>
      <a href="#" class="close">&times;</a>
    </div>
    <?php } ?>

    <?php echo $breadcrumbs; ?>
    <table>
      <thead>
        <tr>
          <th>编号</th>
          <th>姓名</th>
          <th>电话</th>
          <th>服务人员</th>
          <th>日期</th>
        </tr>
      </thead>
      <tbody>
        <?php if($list){ ?>
        <?php foreach($list as $row){ ?>
        <tr>
          <td><a href="<?php echo site_url().'/admin/service_log/view/'.$row['id']; ?>"><?php echo $row['order_num']; ?></a></td>
          <td><?php echo $row['name']; ?></td>
          <td><?php echo $row['mobile']; ?></td>
          <td><?php echo $row['nurse_name']; ?></td>
          <td><?php echo $row['date']; ?></td>
        </tr>
        <?php } ?>
        <?php }else{ ?>
        <?php } ?>
      </tbody>
    </table>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
