<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>添加菜单</h1>
    <?php echo $breadcrumbs; ?>
    <form method="POST" action="<?php echo site_url();?>/admin/menu/create">
      <div class="row">
        <div class="large-12 columns <?php if(form_error('name')) echo 'error'; ?>">
          <label>菜单名称</label>
            <input type="text" name="name" value="<?php echo set_value('name'); ?>">
          
          <?php echo form_error('name'); ?>
        </div>
        <div class="large-12 columns columns <?php if(form_error('wx_id')) echo 'error'; ?>">
          <label>微信号</label>
            <!--<input type="number" name="wx_id" value="<?php echo set_value('wx_id'); ?>">-->
            <input type="radio" id="wx_customer" name="wx_id" value="1"><label for="wx_customer">用户端微信</label>
            <input type="radio" id="wx_service" name="wx_id" value="2"><label for="wx_service">众包端微信</label>
          
          <?php echo form_error('wx_id'); ?>
        </div>
        <div class="large-12 columns columns columns <?php if(form_error('top_id')) echo 'error'; ?>">
          <label>上级菜单</label>
            <!--<input type="number" name="top_id" value="<?php echo set_value('top_id'); ?>">-->
            <select id="top_id" name="top_id">
            <option value="0">--请选择上级菜单--</option>
            <?php foreach($parent_menu as $row){ ?>
            <option value="<?php echo $row['id']; ?>"><?php echo $row['name']; ?></option>
            <?php } ?>
            </select>
          
          <?php echo form_error('top_id'); ?>
        </div>
        <div class="large-12 columns columns columns columns <?php if(form_error('type')) echo 'error'; ?>">
          <label>菜单类型</label>
            <!--<input type="text" name="type" value="<?php echo set_value('type'); ?>">-->
            <input type="radio" id="type_view" name="type" value="view"><label for="type_view">链接</label>
            <input type="radio" id="type_click" name="type" value="click"><label for="type_click">关键字</label>
          
          <?php echo form_error('type'); ?>
        </div>
        <div class="large-12 columns columns columns columns columns <?php if(form_error('value')) echo 'error'; ?>">
          <label>菜单值</label>
            <input type="text" name="value" value="<?php echo set_value('value'); ?>">
          
          <?php echo form_error('value'); ?>
        </div>
        <div class="large-12 columns columns columns columns columns columns <?php if(form_error('sort')) echo 'error'; ?>">
          <label>菜单排序</label>
            <input type="number" name="sort" value="<?php echo set_value('sort'); ?>">
          
          <?php echo form_error('sort'); ?>
        </div>
		<div class="large-12 columns">
		  <input class="button tiny" type="submit" value="添加">
		</div>
       </div>
    </form>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>