<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>编辑菜单</h1>
    
    <?php if(isset($result_code)){ ?>
    <div data-alert class="alert-box <?php if(!$result_code) echo 'alert'; ?>">
      <?php echo $result_msg; ?>
      <a href="#" class="close">&times;</a>
    </div>
    <?php } ?>
    
    <?php echo $breadcrumbs; ?>
    
    <dl class="sub-nav">
      <!--<dd class="active"><a href="#">基本信息</a></dd>
      <dd><a href="<?php echo site_url().'/admin/field?source_type=service&source_id='.$info['id']; ?>">其他信息</a></dd>-->
    </dl>
    
    <form method="post" action="<?php echo site_url(); ?>/admin/menu/update">
      <input type="hidden" name="id" value="<?php echo $info['id']; ?>">
      <div class="row">
        <div class="large-12 columns <?php if(form_error('name')) echo 'error'; ?>">
          <label>菜单名称</label>
            <input type="text" name="name" value="<?php echo $info['name']; ?>">
          
          <?php echo form_error('name'); ?>
        </div>
        <div class="large-12 columns columns <?php if(form_error('wx_id')) echo 'error'; ?>">
          <label>微信号</label>
            <!--<input type="number" name="wx_id" value="<?php echo $info['wx_id']; ?>">-->
            <input type="radio" id="wx_customer" name="wx_id" value="1" <?php if($info['wx_id'] == 1) echo 'checked'; ?>><label for="wx_customer">用户端微信</label>
            <input type="radio" id="wx_service" name="wx_id" value="2" <?php if($info['wx_id'] == 2) echo 'checked'; ?>><label for="wx_service">众包端微信</label>
          
          <?php echo form_error('wx_id'); ?>
        </div>
        <div class="large-12 columns columns columns <?php if(form_error('top_id')) echo 'error'; ?>">
          <label>上级菜单</label>
            <!--<input type="number" name="top_id" value="<?php echo $info['top_id']; ?>">-->
<!--          <select id="top_id" name="top_id" class="form-control">
          <option value="0">--请选择上级菜单--</option>
          <?php foreach($info as $row){ ?>
          <option value="<?php echo $row['id']; ?>" <?php if($row['id'] == $info['top_id']) echo 'selected'; ?>><?php echo $row['name']; ?></option>
          <?php } ?>
          </select>-->
          
          <select id="top_id" name="top_id">
            <option value="0">--请选择上级菜单--</option>
            <?php foreach($parent_menu as $row){ ?>
            <option value="<?php echo $row['id']; ?>"  <?php if($row['id'] == $info['top_id']) echo 'selected' ?>><?php echo $row['name']; ?></option>
            <?php } ?>
            </select>
          
<!--        <select id="top_id" name="top_id">
            <option value="0">--请选择上级菜单--</option>
            <?php foreach($parent_menu as $row){ ?>
            <option value="<?php echo $row['id']; ?>"><?php echo $row['name']; ?></option>
            <?php } ?>
            </select>-->
          <?php echo form_error('top_id'); ?>
        </div>
        <div class="large-12 columns columns columns columns <?php if(form_error('type')) echo 'error'; ?>">
          <label>菜单类型</label>
            <!--<input type="text" name="type" value="<?php echo $info['type']; ?>">-->
            <input type="radio" id="type_view" name="type" value="view" <?php if($info['type'] == 'view') echo 'checked'; ?>><label for="type_view">链接</label>
            <input type="radio" id="type_click" name="type" value="click" <?php if($info['type'] == 'click') echo 'checked'; ?>><label for="type_click">关键字</label>
          
          <?php echo form_error('type'); ?>
        </div>
        <div class="large-12 columns columns columns columns columns <?php if(form_error('value')) echo 'error'; ?>">
          <label>菜单值</label>
            <input type="text" name="value" value="<?php echo $info['value']; ?>">
          
          <?php echo form_error('value'); ?>
        </div>
        <div class="large-12 columns columns columns columns columns columns <?php if(form_error('sort')) echo 'error'; ?>">
          <label>菜单排序</label>
            <input type="number" name="sort" value="<?php echo $info['sort']; ?>">
          
          <?php echo form_error('sort'); ?>
        </div>
        <div class="large-12 columns">
          <input class="button tiny" type="submit" value="更新">
          <a class="button tiny alert" href="#" data-reveal-id="delete_check">删除</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="delete_check" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">警告！！</h2>
  <p class="lead">如果点击删除，本数据将消失，不能找回。</p>
  <a class="button tiny alert" href="<?php echo site_url().'/admin/menu/delete/'.$info['id']; ?>">删除</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>