<?php $this->load->view('mobile/public/header.html'); ?>

<!-- top nav Begin-->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a class="pbm_back" href="<?php echo mobile_url('mobile', $this->session->userdata['wx']); ?>"><img src="<?php echo base_url(); ?>foundation/images/pbm_back.png"></a></h1>
    </li>
  </ul>
  <section class="middle tab-bar-section">
    <h1 class="title_con">预约</h1>
  </section>
</nav>
<!-- top nav end-->
<div class="container_con">
  <div class="row">
    <!--套餐模块-->
    <div class="small-12 columns marginTop10">
      <div class="pbm_bdbtm"><label>选择套餐</label></div>
      <!--套餐内容-->
      <div class="small-12 columns marginTop10">
        <div class="accordion" data-accordion>
        <?php foreach($service as $row){ ?>
        <li class="accordion-navigation">
          <a href="#panel1a">
            <div class="pbm_tc clearfix active">
              <input type="hidden" name="service_id" value="<?php echo $row['id']; ?>">
              <span>
                <img class="tc_active active" src="<?php echo base_url(); ?>foundation/images/pbm_icon_tc_a.png" style="width:20px; ">
                <?php echo $row['name']; ?>
              </span>
              <span >
                <span style="text-decoration: line-through; color:#ccc">
                  <?php echo $row['original']; ?>
                </span>
                <i class="fa fa-jpy"></i>
                <?php echo $row['price']; ?>
              </span>
              <p class="left"><?php echo $row['intro']; ?></p>
              <p class="left">点击查看套餐详情</p>
            </div>
          </a>
          <div id="panel1a" class="content pbm_tc_con">
            <p>本服务包含：</p>
            <p>1.四次健康检测，检测内容包括：<br>
                体征检测：（血压、血氧、体温、脉率）
                轻问诊（身体状况、睡眠质量、既往病史等）</p>
            <p>2.一份健康报告：<br>
                根据体征检测和轻问诊数据，
                每四次为您生成一份健康报告，
                并给出您的生活、起居、饮食、外出、娱乐及部分基础医疗建议  </p>
          </div>
          </li>
        <?php } ?>
      </div>
      </div>
    </div>
    <!--套餐模块 End-->

    <!--家人模块-->
    <div class="small-12 columns marginTop10">
      <div class="pbm_bdbtm row">
        <div class="small-11 left">
          <label>选择家人</label>
        </div>
        <div class="small-1 right" style="padding-top:3px">
          <a href="<?php echo site_url(); ?>/mobile/family/create_once?wx=1"><img src="<?php echo base_url(); ?>foundation/images/pbm_icon_add.png" style="width:20px;"></a>
        </div>
      </div>
      <div class="small-12 columns marginTop10">
        <div class="row">
          <?php foreach($family as $row){ ?>
          
            <div class="pbm_yy_family" data-id="<?php echo $row['id']; ?>" onclick="select_family(this)">
              <span>
                <img class="tc_active family_check_no" src="<?php echo base_url(); ?>foundation/images/pbm_icon_tc.png" style="width:20px; ">
                <img class="tc_active family_check_yes hide" src="<?php echo base_url(); ?>foundation/images/pbm_icon_tc_a.png" style="width:20px; ">
                <?php echo $row['title']; ?>：
                <?php echo $row['name']; ?>
              </span>
              <p>
                <?php echo $row['address']; ?>
                <?php echo $row['mobile']; ?>
              </p>
            </div>
          
          <?php } ?>
        </div>
      </div>
    </div>
    <!--家人模块 End-->
    <!--选择时间-->
    <div class="small-12 columns marginTop10">
      <div class="pbm_bdbtm"><label>上门时间</label></div>
      <div class="small-6 columns marginTop10">
        <input type="date" id="form_date_ori">
      </div>

      <div class="small-6 columns marginTop10">
        <select id="form_time_ori">
          <option value="08:00-09:00">08:00-09:00</option>
          <option value="09:00-10:00">09:00-10:00</option>
          <option value="10:00-11:00">10:00-11:00</option>
          <option value="11:00-12:00">11:00-12:00</option>
          <option value="12:00-13:00">12:00-13:00</option>
          <option value="13:00-14:00">13:00-14:00</option>
          <option value="14:00-15:00">14:00-15:00</option>
          <option value="15:00-16:00">15:00-16:00</option>
          <option value="16:00-17:00">16:00-17:00</option>
          <option value="17:00-18:00">17:00-18:00</option>
        </select>
      </div>
    </div>
    <!--选择时间 End-->
    <!--支付模块-->
    <div class="small-12 columns marginTop10">
      <!--支付方式删除
      <div class="pbm_bdbtm"><label>支付方式</label></div>
     
      <div class="row marginTop10">
        <div class="small-6 columns pbm_zf">
          <img src="<?php echo base_url(); ?>foundation/images/pbm_icon_wechat.png" style=" width:30px">
          微信支付
        </div>
        <div class="small-3 columns pbm_zf">
          <img src="<?php echo base_url(); ?>foundation/images/pbm_icon_wechat_check.png" style=" width:30px">
        </div>
      </div>
    </div>
     -->
    <!--支付模块 End-->
    <div class="small-12 columns marginTop10">
      <div class="pbm_bdbtm"><label><label>备注信息</label></div>
      <div class="small-12 columns marginTop10">
        <textarea name="note" placeholder="请填写注意事项（选填）" id="form_note_ori"></textarea>
      </div>
    </div>

    <div class="small-12 columns" style=" margin-top:20px; margin-bottom:60px">
      <form method="POST" action="<?php echo site_url(); ?>/mobile/pay" onsubmit="return send()">
        <input type="hidden" name="service_id" value="1">
        <input type="hidden" name="family_id" value="" id="form_family">
        <input type="hidden" name="date" id="form_date">
        <input type="hidden" name="time" id="form_time">
        <input type="hidden" name="note" value="" id="form_note">
        <input class="button small expand" type="submit" value="立即预约">
      </form>
    </div>
  </div>
</div>
<?php $this->load->view('mobile/public/footer.html'); ?>
<script>
function select_family(e){
  if(!$(e).hasClass("active")){
    $(".pbm_yy_family").removeClass("active");
   // $(".family_check").removeClass("active");
    $(".family_check_yes").hide();
    $(".family_check_no").show();
    $(e).addClass("active");
    $(e).find(".family_check_no").hide();
    $(e).find(".family_check_yes").show();
  }

}

function send(){
  var family = $(".pbm_yy_family");
  var family_id = '';
  family.each(function(){
    if($(this).hasClass("active")){
      family_id = $(this).data("id");
    }
  });
  if(family_id == ''){
    alert('请选择家人！');
    return false;
  }
  $("#form_family").val(family_id);

  var date = $("#form_date_ori").val();
  if(date == ''){
    alert('请选择日期！');
    return false;
  }
  $("#form_date").val(date);

  var time = $("#form_time_ori").val();
  if(time == ''){
    alert('请选择上门时间！');
    return false;
  }
  $("#form_time").val(time);

  var note = $("#form_note_ori").val();
  $("#form_note").val(note);
  $(".button").attr("disabled", "disabled");

}
</script>
