<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>修改城市</h1>

    <?php if(isset($result_code)){ ?>
    <div data-alert class="alert-box <?php if(!$result_code) echo 'alert'; ?>">
      <?php echo $result_msg; ?>
      <a href="#" class="close">&times;</a>
    </div>
    <?php } ?>

    <?php echo $breadcrumbs; ?>

    <form method="post" action="<?php echo site_url(); ?>/admin/city/update">
      <input type="hidden" name="id" value="<?php echo $info['id']; ?>">
      <div class="row">
        <div class="small-12 columns <?php if(form_error('parent_id')) echo 'error'; ?>">
          <label>上级区域
            <input type="number" name="parent_id" value="<?php echo $info['parent_id']; ?>">
          </label>
          <?php echo form_error('parent_id'); ?>
        </div>
        <div class="small-12 columns <?php if(form_error('name')) echo 'error'; ?>">
          <label>城市名
            <input type="text" name="name" value="<?php echo $info['name']; ?>">
          </label>
          <?php echo form_error('name'); ?>
        </div>
        <div class="small-12 columns <?php if(form_error('sort')) echo 'error'; ?>">
          <label>排序
            <input type="number" name="sort" value="<?php echo $info['sort']; ?>">
          </label>
          <?php echo form_error('sort'); ?>
        </div>
	<div class="small-12 columns">
	  <input class="button tiny" type="submit" value="Update">
	</div>
      </div>
    </form>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
