<!--通用foot Begin-->


<footer>
  <div class="row ">

    <?php if($this->session->userdata['wx'] == 1){ ?>
    <div class="small-3 columns idx_ft_1">
      <a href="<?php echo mobile_url('mobile'); ?>"><img style="width:30px" src="<?php echo base_url(); ?>foundation/images/pbm_idx_ft1<?php if($this->uri->segment(2) == '') echo '_a'; ?>.png"></a>
    </div>
    <div class="small-3 columns idx_ft_2">
      <a href="<?php echo mobile_url('mobile/health/health_list'); ?>"><img style="width:30px" src="<?php echo base_url(); ?>foundation/images/pbm_idx_ft2<?php if($this->uri->segment(2) == 'health') echo '_a'; ?>.png"></a>
    </div>
    <div class="small-3 columns idx_ft_3">
      <a href="<?php echo mobile_url('mobile/order'); ?>"><img style="width:30px" src="<?php echo base_url(); ?>foundation/images/pbm_idx_ft3<?php if($this->uri->segment(2) == 'order') echo '_a'; ?>.png"></a>
    </div>
    <div class="small-3 columns idx_ft_4">
      <a href="<?php echo mobile_url('mobile/member'); ?>"><img style="width:30px" src="<?php echo base_url(); ?>foundation/images/pbm_idx_ft4<?php if(in_array($this->uri->segment(2), array('member','message','family'))) echo '_a'; ?>.png"></a>
    </div>

    <?php }else{ ?>
    <div class="small-4 columns idx_ft_2">
      <a href="<?php echo mobile_url('mobile/order',2); ?>"><img style="width:30px" src="<?php echo base_url(); ?>foundation/images/pbm_idx_ft3<?php if($this->uri->segment(2) == 'order') echo '_a'; ?>.png"></a>
    </div>
    <div class="small-4 columns idx_ft_1">
      <a href="<?php echo mobile_url('mobile/health/health_list',2); ?>"><img style="width:30px" src="<?php echo base_url(); ?>foundation/images/pbm_idx_ft2<?php if($this->uri->segment(2) == 'health') echo '_a'; ?>.png"></a>
    </div>
    <div class="small-4 columns idx_ft_3">
      <a href="<?php echo mobile_url('mobile/member',2); ?>"><img style="width:30px" src="<?php echo base_url(); ?>foundation/images/pbm_idx_ft4<?php if(in_array($this->uri->segment(2), array('member','message','family'))) echo '_a'; ?>.png"></a>
    </div>
    <?php } ?>

  </div>
</footer>
<!--通用foot End-->

