<!doctype html>
<html class="no-js" lang="zh-Hans">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>陪爸妈</title>
    <link rel="stylesheet" href="<?php echo base_url(); ?>foundation/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="<?php echo base_url(); ?>foundation/stylesheets/mobile.css" />
    <link rel="stylesheet" href="<?php echo base_url(); ?>foundation/stylesheets/mobile2.css" />
    <script src="<?php echo base_url(); ?>foundation/bower_components/modernizr/modernizr.js"></script>
  </head>

  <body>
