<!--footer-->
<footer>
	<div class="pbm_foot">
		<ul>
			<li>
				<span class="ico">
				<img src="<?php echo base_url(); ?>foundation/images/home/foot_1.png" alt="">
				</span>
				<p>
					宛心网络科技(北京)有限公司
				</p>
			</li>
			<li>
				<span class="ico">
				<img src="<?php echo base_url(); ?>foundation/images/home/foot_2.png" alt="">
				</span>
				<p>
					北京市朝阳区将台路16-18号丁香园荣昌服务
				</p>
			</li>
			<li>
				<span class="ico">
				<img src="<?php echo base_url(); ?>foundation/images/home/foot_3.png" alt="">
				</span>
				<p>
					400-815-6667
				</p>
			</li>
		</ul>
	</div>

</footer>
<!--footer-->

</body>
</html>