<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮您到家 陪陪爸妈_陪爸妈</title>
<meta name="author" content="ZedLiu" />
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>foundation/stylesheets/reset.css" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>foundation/stylesheets/main.css" />
<script src="<?php echo base_url(); ?>foundation/bower_components/jquery/dist/jquery.min.js"></script>
</head>

<body>