<?php $this->load->view('mobile/public/header.html'); ?>

<!-- top nav Begin-->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a class="pbm_back" href="javascript:window.history.back(-1)"><img src="<?php echo base_url(); ?>foundation/images/pbm_back.png"></a></h1>
    </li>
  </ul>
  <section class="middle tab-bar-section">
    <h1 class="title_con">常见问题</h1>
  </section>
</nav>
<!-- top nav end-->

<div class="container_con">
	<div class="row marginTop10">
		<div class="pbm_ask_tit">
			<h1>1、如何预约服务</h1>
		</div>
		<div class="pbm_ask_con">
			<p>扫描二维码，关注“陪爸妈”微信公众号</p>
			<img src="<?php echo base_url(); ?>foundation/images/wechat_code.jpg">
			<p>拨打电话：010-53609188</p>
		</div>
	</div>
	<div class="row marginTop10">
		<div class="pbm_ask_tit">
			<h1>2、是谁来陪我的爸爸妈妈？</h1>
		</div>
		<div class="pbm_ask_con">
			<p>陪爸妈的，是社区、附近社区的年轻人、低龄老人、专业人士，有爱心、耐心、责任心的高素质人群。</p>
		</div>
	</div>
	<div class="row marginTop10">
		<div class="pbm_ask_tit">
			<h1>3、安全性如何保障？</h1>
		</div>
		<div class="pbm_ask_con">
			<p>“陪爸妈”向用户公开陪护者的官方审核、服务评级、历史查询等信息。进门穿戴鞋套出门主动出示包袋，避免误会。每个上门服务完成后，都会建立服务回访制度，便于陪爸妈对服务质量、时效等进行调查回访，以此对上门服务进行有效监督，收集爸妈、子女等用户的反馈信息，改进上门服务质量。
			</p>
		</div>
	</div>
	<div class="row marginTop10" >
		<div class="pbm_ask_tit">
			<h1>4、服务流程</h1>
		</div>
		<div class="pbm_ask_con" style="margin-bottom:80px;">
			<img src="<?php echo base_url(); ?>foundation/images/pbm_ask_lc.jpg">
		</div>
	</div>
</div>

<?php $this->load->view('mobile/public/footer.html'); ?>
