<?php $this->load->view('mobile/public/header.html'); ?>

<!-- top nav Begin-->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a class="pbm_back" href="javascript:window.history.back(-1)"><img src="<?php echo base_url(); ?>foundation/images/pbm_back.png"></a></h1>
    </li>
  </ul>
  <section class="middle tab-bar-section">
    <h1 class="title_con">服务介绍</h1>
  </section>
</nav>
<!-- top nav end-->

<div class="container_con">
  <div class="row marginTop10">
    <div class="pbm_ask_tit">
      <h1>健康管理:</h1>
    </div>
    <div class="pbm_ask_con">
      <p>通过四次上门健康检测&轻问诊，出具一份健康报告评估您的整体健康状态和疾病风险，对高发、高危疾病、慢性疾病提供专项服务和管理计划，满足个性化健康需求。</p>
      <p>四次健康检测的内容包括：<br>体征检测：（血压、血氧、体温、脉率）<br>轻问诊（身体状况、睡眠质量、既往病史等）</p>
      <p>一份健康报告的内容包括：<br>根据体征检测和轻问诊数据，每四次为您生成一份健康报告，并给出您的生活、起居、饮食、外出、娱乐及部分基础医疗建议</p>
    </div>
  </div>
  <!--日常照料删除
      <div class="row marginTop10">
	<div class="pbm_ask_tit">
	  <h1>日常照料:</h1>
	</div>
	<div class="pbm_ask_con">
	  <p>跑腿代办，陪同就医，智能设备教学，读书读报。</p>
	</div>
      </div>
      <div class="row marginTop10">
	<div class="pbm_ask_tit">
	  <h1>社区联谊:</h1>
	</div>
	<div class="pbm_ask_con" >
	  <p>根据“爸妈”的年龄、健康情况、职业、兴趣爱好等信息，进行分析与匹配，为老年人提供精确、优质的个性化社区服务。</p>
	</div>
      </div>
      -->
  <div class="row" style="margin-bottom:80px"></div>
</div>

<?php $this->load->view('mobile/public/footer.html'); ?>
