<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>创建优惠券</h1>
    <?php echo $breadcrumbs; ?>
    <?php if(empty($id)): ?>
    <form method="POST" action="<?php echo site_url(); ?>/admin/coupon/create_icoupons">
     <?php else: ?>
    <form method="POST" action="<?php echo site_url(); ?>/admin/coupon/update_icoupons">
     <input type = 'hidden' name = 'id' value="<?php echo $id?>">
     <?php endif; ?>
      <div class="row">
        <div class="large-12 columns <?php if(form_error('title')) echo 'error'; ?>">
          <label>*标题
            <input type="text" name="title" value="<?php if(!empty($title))  echo $title; ?>">
          </label>
          <?php echo form_error('title'); ?>
        </div>
        <div class="large-12 columns <?php if(form_error('desc')) echo 'error'; ?>">
          <label>描述
            <input type="text" name="desc" value="<?php if(!empty($desc))  echo $desc; ?>">
          </label>
          <?php echo form_error('desc'); ?>
        </div>
        <div class="large-12 columns <?php if(form_error('totalnum')) echo 'error'; ?>">
          <label>优惠券总数量
            <input type="number" name="totalnum" value="<?php if(!empty($totalnum))  echo $totalnum;else echo 1000; ?>">
          </label>
          <?php echo form_error('totalnum'); ?>
        </div>
        <div class="large-12 columns <?php if(form_error('least_price')) echo 'error'; ?>">
          <label>*使用最小订单金额
            <input type="text" name="least_price" value="<?php if(!empty($least_price))  echo $least_price;else echo 10; ?>">
          </label>
          <?php echo form_error('least_price'); ?>
        </div>
          <div class="large-12 columns <?php if(form_error('coupon_price')) echo 'error'; ?>">
          <label>*优惠券抵用金额
            <input type="text" name="coupon_price" value="<?php if(!empty($coupon_price))  echo $coupon_price;else echo 10 ?>">
          </label>
          <?php echo form_error('coupon_price'); ?>
        </div>
        <div class="small-12 columns <?php if(form_error('starttime')) echo 'error'; ?>">
          <label>开始时间
            <input type="date" name="starttime" value=" <?php if(!empty($starttime))  echo $starttime?>">
          </label>
          <?php echo form_error('starttime'); ?>
        </div>
         <div class="small-12 columns <?php if(form_error('endtime')) echo 'error'; ?>">
          <label>结束时间
            <input type="date" name="endtime" value="<?php if(!empty($endtime))  echo $endtime?>">
          </label>
          <?php echo form_error('endtime'); ?>
        </div>
           <div class="large-12 columns <?php if(form_error('pay_channels')) echo 'error'; ?>">
          <label>*支付方式限定
            <input type="text" name="pay_channels" value="<?php if(!empty($pay_channels))  echo $pay_channels;else echo 1;?>">
          </label>
          <?php echo form_error('pay_channels'); ?>
        </div>
        <div class="large-12 columns">
          <input class="button tiny" type="submit" value="添加">
        </div>
      </div>
    </form>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
