<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
<!--优惠券主体-->
   <div class="medium-10 columns">

        <div class="row">
          <div class="small-12 columns">
            <h3>优惠券管理</h3>
          </div>
        </div>
         <div class="small-12 columns">
              <form id="action-bar" method="POST" action="#">
                <input type="hidden" name="wx_id" value="1">
                <div class="row">
                  <div class="small-6 medium-4 columns">
                    <div class="row collapse">
                      <div class="small-9 medium-9 columns">
                        <input type="text" name="coppon_title" placeholder="输入优惠券名称进行搜索" value="">
                      </div>
                    </div>
                  </div>
                 <!--  <span>或</span> -->
                   <div class="small-6 medium-4 columns">
                    <div class="row collapse">
                      <div class="small-9 medium-9 columns">
                        <input type="text" name="coupon_id" placeholder="输入优惠券ID进行搜索" value="">
                      </div>
                    </div>
                  </div>
                  <div class="small-6 medium-4 columns left">
                    <input type="submit" value="搜索" class="button tiny">
                  </div>
                </div>
              </form>
                <div class="row">
                  <div class="small-6 medium-4 columns left">
                    <a   value="新建" class="button tiny" href = "<?php echo site_url().'/admin/coupon/create_icoupons/'.$row['id']; ?>">新建</a>
                  </div>
                </div>
        </div>
        <div class="small-12 columns">
              <table>
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>优惠券名称</th>
                        <th>sncode</th>
                        <th>优惠券金额</th>
                        <th>是否使用</th>
                        <th>使用时间</th>
                        <th>绑定订单</th>
                        <th>有效期</th>
                      </tr>
                    </thead>
                    <tbody>
                      <?php if($coupons){ ?>
                      <?php foreach($coupons as $row){ ?>
                      <tr>
                        <td><?php echo $row['cid']; ?></td>
                        <td><?php echo $row['title']; ?></td>
                        <td><?php echo $row['sncode']; ?></td>
                        <td><?php echo $row['coupon_price']; ?></td>
                        <td><?php echo $row['used']; ?></td>
                        <td><?php echo $row['usetime']; ?></td>
                        <td><?php echo $row['order_sn']; ?></td>
                        <td><?php echo $row['starttime']; ?>--<?php echo $row['endtime']; ?></td>
                      </tr>
                      <?php } ?>
                      <?php }else{ ?>
                      <?php } ?>
                    </tbody>
              </table>
      </div>  
    <div class="small-12 medium-6 columns">
        <?php echo $this->pagination->create_links(); ?>
      </div>
      </div>

</div>
<?php $this->load->view('admin/public/footer.html'); ?>
