<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">

    <h1>套餐管理</h1>

    <?php if($this->session->flashdata('result_code')){ ?>
    <div data-alert class="alert-box">
      <?php echo $this->session->flashdata('result_msg'); ?>
      <a href="#" class="close">&times;</a>
    </div>
    <?php } ?>

    <?php echo $breadcrumbs; ?>
    <div id="list-action-bar">
      <a class="button tiny right" href="<?php echo site_url(); ?>/admin/service/create">添加</a>
    </div>
    <table class="clearfix">
      <thead>
        <tr>
          <th>套餐名称</th>
          <th>套餐内容</th>
          <th>套餐价格</th>
          <th>套餐状态</th>
          <th>修改时间</th>
        </tr>
      </thead>
      <tbody>
        <?php if($list){ ?>
        <?php foreach($list as $row){ ?>
        <tr>
          <td><a href="<?php echo site_url().'/admin/service/update/'.$row['id']; ?>"><?php echo $row['name']; ?></a></td>
          <td><?php echo $row['intro']; ?></td>
          <td><?php echo $row['price']; ?></td>
          <td><?php echo $row['status_name']; ?></td>
          <td><?php echo $row['modify_date']; ?></td>
        </tr>
        <?php } ?>
        <?php }else{ ?>
        <?php } ?>
      </tbody>
    </table>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
