<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>创建订单</h1>
    <?php echo $breadcrumbs; ?>

    <form method="POST" action="<?php echo site_url(); ?>/admin/order/create">
      <div class="row">
        <div class="large-12 columns <?php if(form_error('service_id')) echo 'error'; ?>">
          <label>套餐</label>
          <?php foreach($service_list as $key=>$row){ ?>
          <input type="radio" name="service_id" value="<?php echo $row['id']; ?>" id="service_<?php echo $key; ?>" checked><label for="service_<?php echo $key; ?>">
            <?php echo $row['name'].' '.$row['price']; ?>
          </label></input>
          <?php } ?>
          <?php echo form_error('service_id'); ?>
        </div>

        <div class="large-12 columns <?php if(form_error('name')) echo 'error'; ?>">
          <label>姓名
            <input type="text" name="name" value="<?php echo set_value('name'); ?>">
          </label>
          <?php echo form_error('name'); ?>
        </div>

        <div class="large-12 columns <?php if(form_error('mobile')) echo 'error'; ?>">
          <label>电话
            <input type="number" name="mobile" value="<?php echo set_value('mobile'); ?>">
          </label>
          <?php echo form_error('mobile'); ?>
        </div>

        <div class="large-12 columns <?php if(form_error('address')) echo 'error'; ?>">
          <label>地址
            <input type="text" name="address" value="<?php echo set_value('address'); ?>">
          </label>
          <?php echo form_error('address'); ?>
        </div>

        <div class="small-12 columns <?php if(form_error('date')) echo 'error'; ?>">
          <label>日期
            <input type="date" name="date" value="<?php echo set_value('date'); ?>">
          </label>
          <?php echo form_error('date'); ?>
        </div>

        <div class="small-12 columns <?php if(form_error('time')) echo 'error'; ?>">
          <label>时间
            <select name="time">
              <option value="08:00-09:00">08:00-09:00</option>
              <option value="08:00-09:00">09:00-10:00</option>
              <option value="08:00-09:00">10:00-11:00</option>
              <option value="08:00-09:00">11:00-12:00</option>
              <option value="08:00-09:00">12:00-13:00</option>
              <option value="08:00-09:00">13:00-14:00</option>
              <option value="08:00-09:00">14:00-15:00</option>
              <option value="08:00-09:00">15:00-16:00</option>
              <option value="08:00-09:00">16:00-17:00</option>
              <option value="08:00-09:00">17:00-18:00</option>
            </select>
          </label>
          <?php echo form_error('time'); ?>
        </div>

        <div class="small-12 columns <?php if(form_error('is_pay')) echo 'error'; ?>">
          <label>是否付款</label>
          <input type="radio" name="is_pay" value="2" id="is_pay_2"><label for="is_pay_2">已付款</label></input>
          <input type="radio" name="is_pay" value="1" id="is_pay_1" checked><label for="is_pay_1">未付款</label></input>
          <?php echo form_error('is_pay'); ?>
        </div>

        <div class="large-12 columns <?php if(form_error('note')) echo 'error'; ?>">
          <label>备注
            <textarea name="note"><?php echo set_value('note'); ?></textarea>
          </label>
          <?php echo form_error('note'); ?>
        </div>

        <div class="large-12 columns">
          <input class="button tiny" type="submit" value="添加">
        </div>
      </div>
    </form>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
