<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>编辑订单</h1>
    <?php echo $breadcrumbs; ?>
    <form method="POST" action="<?php echo site_url(); ?>/admin/order/update">
      <input type="hidden" name="id" value="<?php echo $info['id']; ?>">
      <div class="row">
        <div class="large-12 columns <?php if(form_error('name')) echo 'error'; ?>">
          <label>姓名
            <input type="text" name="name" value="<?php echo $info['name']; ?>">
          </label>
          <?php echo form_error('name'); ?>
        </div>

        <div class="large-12 columns <?php if(form_error('mobile')) echo 'error'; ?>">
          <label>电话
            <input type="number" name="mobile" value="<?php echo $info['mobile']; ?>">
          </label>
          <?php echo form_error('mobile'); ?>
        </div>

        <div class="large-12 columns <?php if(form_error('address')) echo 'error'; ?>">
          <label>地址
            <input type="text" name="address" value="<?php echo $info['address']; ?>">
          </label>
          <?php echo form_error('address'); ?>
        </div>

        <div class="small-12 columns <?php if(form_error('nurse_id')) echo 'error'; ?>">
          <label>服务人员编号
            <input type="number" name="nurse_id" value="<?php echo $info['nurse_id']; ?>">
          </label>
          <?php echo form_error('nurse_id'); ?>
        </div>
        <div class="small-12 columns <?php if(form_error('is_pay')) echo 'error'; ?>">
          <label>是否支付</label>
          <input type="radio" name="is_pay" value="2" id="is_pay_2" <?php if($info['is_pay'] == 2) echo 'checked'; ?>><label for="is_pay_2">Yes</label></input>
          <input type="radio" name="is_pay" value="1" id="is_pay_1" <?php if($info['is_pay'] == 1) echo 'checked'; ?>><label for="is_pay_1">No</label></input>
        </div>
        <div class="small-12 columns <?php if(form_error('status')) echo 'error'; ?>">
          <label>订单状态
            <select name="status">
              <?php foreach($status_list as $key=>$row){ ?>
              <option value="<?php echo $key; ?>" <?php if($key == $info['status']) echo 'selected'; ?>><?php echo $row; ?></option>
              <?php } ?>
            </select>
            <?php echo form_error('status'); ?>
          </label>
        </div>
        <div class="large-12 columns <?php if(form_error('note')) echo 'error'; ?>">
          <label>备注
            <textarea name="note"><?php echo $info['note']; ?></textarea>
          </label>
          <?php echo form_error('note'); ?>
        </div>
        <div class="small-12 columns">
          <input type="submit" class="button tiny" value="编辑">
        </div>
      </div>
    </form>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
