<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <div class="row">
      <div class="small-12 columns">
        <h1>订单详情</h1>
        <?php echo $breadcrumbs; ?>

        <?php if($this->session->flashdata('result_code')){ ?>
        <div data-alert class="alert-box">
          <?php echo $this->session->flashdata('result_msg'); ?>
          <a href="#" class="close">&times;</a>
        </div>
        <?php } ?>
      </div>

      <div class="small-12 columns">
        <h4>基础信息</h4>
        <table>
          <tbody>
            <tr>
              <td>订单编号</td>
              <td><?php echo $info['order_num']; ?></td>
            </tr>
            <tr>
              <td>类型</td>
              <td><?php echo $info['type_name']; ?></td>
            </tr>
            <tr>
              <td>套餐名称</td>
              <td><?php echo $info['service_name']; ?></td>
            </tr>
            <tr>
              <td>费用</td>
              <td><?php echo $info['fee']; ?></td>
            </tr>
            <tr>
              <td>是否付款</td>
              <td><?php echo $info['is_pay_string']; ?></td>
            </tr>
            <tr>
              <td>支付流水号</td>
              <td><?php echo $info['pay_num']; ?></td>
            </tr>
            <tr>
              <td>订单状态</td>
              <td><?php echo $info['status_name']; ?></td>
            </tr>
            <tr>
              <td>创建时间</td>
              <td><?php echo $info['create_date']; ?></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
