<?php $this->load->view('home/public/header.html'); ?>
<!--nav Begin-->
<nav>
	<div class="pbm_header">
	<a href="<?php echo site_url(); ?>" class="logo"><img src="<?php echo base_url(); ?>foundation/images/home/logo.png"></a>
	<ul class="pbm_nav">
			<li><a href="<?php echo site_url(); ?>">首页</a></li>
			<li><a href="<?php echo site_url(); ?>/join">加入众包端</a></li>
			<li><a href="<?php echo site_url(); ?>/question">常见问题</a></li>
			<li class="on"><a href="<?php echo site_url(); ?>/contact">加入我们</a></li>
		</ul>
	</div>
</nav>
<!--nav End-->
<!--banner Begin-->
<div class="pbm_banner_index">
<img src="<?php echo base_url(); ?>foundation/images/home/pbm_map.jpg">

</div>
<!--banner End-->
<div class="main">
	<div class="main_con">
		<div class="main_con_main">
			<div class="main_con_hd">
				<h3>关于我们</h3>
			</div>
			<div class="main_con_bd">
				<p>“陪爸妈”在养老陪护方面，采用“邻里守望”的制度，利用移动互联网O2O模式，集中集合社区附近的年轻人、低龄老人、专业人士，为有需要的老人提供便捷的上门服务。</p>

				<p>同时，为保障“爸妈’们的居家舒适、营养保健、心理需求，为老人提供与他们的身体状况、兴趣爱好相适应的各类活动，丰富爸妈们的日常生活。</p>

			</div>
		</div>
		<div class="main_con_main">
			<div class="main_con_hd">
				<h3>服务信息</h3>
			</div>
			<div class="main_con_bd">
				<p>可为爸妈提供健康检测、上门陪伴、保健与营养、智能设备教学、健康教育咨询、身心关怀保健服务。</p>

			</div>
		</div>
	</div>
</div>
<?php $this->load->view('home/public/footer.html'); ?>