<?php $this->load->view('home/public/header.html'); ?>
<!--nav Begin-->
<nav>
	<div class="pbm_header">
		<a href="<?php echo site_url(); ?>" class="logo"><img src="<?php echo base_url(); ?>foundation/images/home/logo.png"></a>

		<ul class="pbm_nav">
			<li class="on"><a href="<?php echo site_url(); ?>">首页</a></li>
			<li><a href="<?php echo site_url(); ?>/join">加入众包端</a></li>
			<li><a href="<?php echo site_url(); ?>/question">常见问题</a></li>
			<li><a href="<?php echo site_url(); ?>/contact">加入我们</a></li>
		</ul>
	</div>
	
</nav>
<!--nav Begin-->
<!--banner Begin-->
<div class="pbm_banner_index">
	<img src="<?php echo base_url(); ?>foundation/images/home/banner.jpg">

</div>
<!--banner End-->
<!--ourservice Begin-->
<div class="service">
<div class="pbm_ourservice">
	<div class="hd">
		<h2>
			<span>Our Services</span>
			我们的服务
		</h2>
	</div>
	<div class="bd">
		<p class="intro">
			“陪爸妈”作为目前国内最大的互联网医疗陪护平台，已吸引到众多资本机构关注，并已有近千万人民币的资本注入。在养老陪护方面，我们采用“邻里守望”的制度，利用移动互联网O2O模式，集合社区附近的年轻人、低龄老人、专业人士，为有需要的老人提供便捷的上门服务。
		</p>
		<p class="intro">
			为保障“爸妈’们的居家舒适、营养保健、心理需求，为老人提供与他们的身体状况、兴趣爱好相适应的各类活动，丰富爸妈们的日常生活。
		</p>
		<ul>
			<li>
				<a>
					<h4>健康管理</h4>
					<p>评估健康状态和疾病风险，对高发、高危疾病，慢性疾病提供专项服务和管理计划，满足个性化健康需求.</p>
					<img src="<?php echo base_url(); ?>foundation/images/home/jiankang.png">
				</a>
			</li>
			<li>
				<a>
					<h4>日常照料</h4>
					<p>跑腿代办<br>陪同就医<br>智能设备教学<br>读书读报</p>
					<img src="<?php echo base_url(); ?>foundation/images/home/richang.png">
				</a>
			</li>
			<li>
				<a>
					<h4>社区联谊</h4>
					<p>根据“爸妈”的年龄、健康情况、职业、兴趣爱好等信息，进行分析与匹配，为老年人提供精确、优质的个性化社区服务.</p>
					<img src="<?php echo base_url(); ?>foundation/images/home/shequ.png">
				</a>
			</li>
		</ul>
	</div>
</div>
</div>
<!--ourservice End-->
<!--standed Begin-->
<div class="pbm_standard">
	<ul>
		<li>
			<span class="ico">
				<img src="<?php echo base_url(); ?>foundation/images/home/zhuanye.png" alt="">
			</span>
			<strong>专业</strong>
			<p>陪爸妈是周围有爱心、耐心、责任心的高素质人群，经培训，会操作简单的健康体检仪器。<br>
    		   善倾听、会聊天，能用“正能量”感染别人.</p>
		</li>
		<li>
			<span class="ico">
				<img src="<?php echo base_url(); ?>foundation/images/home/anquan.png" alt="">
			</span>
			<strong>安全</strong>
			<p>“陪爸妈”向用户公开陪护者的官方审核、服务评级、历史查询等信息。</p>
		</li>
		<li>
			<span class="ico">
				<img src="<?php echo base_url(); ?>foundation/images/home/guanhuai.png" alt="">
			</span>
			<strong>关怀</strong>
			<p>关怀“爸妈”的生活，根据爸妈的实际情况，开展全方位关怀陪伴服务，让爸妈感受到子女、年轻一代、社会对老人关怀和陪伴。</p>
		</li>
	</ul>
</div>
<!--standed End-->
<?php $this->load->view('home/public/footer.html'); ?>