<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>常见问题_帮您到家 陪陪爸妈_陪爸妈</title>
<meta name="author" content="ZedLiu" />
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>foundation/stylesheets/reset.css" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>foundation/stylesheets/main.css" />
<script src="<?php echo base_url(); ?>foundation/bower_components/jquery/dist/jquery.min.js"></script>
</head>

<body>
<!--nav Begin-->
<nav>
	<div class="pbm_header">
		<a href="<?php echo site_url(); ?>" class="logo"><img src="<?php echo base_url(); ?>foundation/images/home/logo.png"></a>

		<ul class="pbm_nav">
			<li><a href="<?php echo site_url(); ?>">首页</a></li>
			<li><a href="<?php echo site_url(); ?>/join">加入众包端</a></li>
			<li class="on"><a href="<?php echo site_url(); ?>/question">常见问题</a></li>
			<li><a href="<?php echo site_url(); ?>/contact">加入我们</a></li>
		</ul>
	</div>
</nav>
<!--nav Begin-->
<!--top Begin-->
<div class="faq_top">
	<h1>Q&A 常见问题解答</h1>
</div>
<!--top End-->
<!--main Begin-->
<div class="main">
	<div class="main_con">
		<h2>如何服务：</h2>
		<div class="main_con_main">
			<div class="main_con_hd">
				<h3>1、如何预约服务</h3>
			</div>
			<div class="main_con_bd">
				<p>扫描二维码，关注“陪爸妈”微信公众号</p>
				<img src="<?php echo base_url(); ?>foundation/images/home/wechat_code.jpg" style="width:300px">
				<p>拨打电话：010-53609188</p>
			</div>
		</div>

		<div class="main_con_main">
			<div class="main_con_hd">
				<h3>2、是谁来陪我的爸爸妈妈？</h3>
			</div>
			<div class="main_con_bd">
				<p>陪爸妈的，是社区、附近社区的年轻人、低龄老人、专业人士，有爱心、耐心、责任心的高素质人群。</p>
			</div>
		</div>

		<div class="main_con_main">
			<div class="main_con_hd">
				<h3>3、安全性如何保障？</h3>
			</div>
			<div class="main_con_bd">
				<p>“陪爸妈”向用户公开陪护者的官方审核、服务评级、历史查询等信息。进门穿戴鞋套出门主动出示包袋，避免误会。每个上门服务完成后，都会建立服务回访制度，便于陪爸妈对服务质量、时效等进行调查回访，以此对上门服务进行有效监督，收集爸妈、子女等用户的反馈信息，改进上门服务质量。</p>
			</div>
		</div>

		<div class="main_con_main">
			<div class="main_con_hd">
				<h3>4、服务流程</h3>
			</div>
			<div class="main_con_bd">
				<img src="<?php echo base_url(); ?>foundation/images/home/pbm_ask_lc.jpg">
			</div>
		</div>
	</div>
</div>
<!--main End-->
<?php $this->load->view('home/public/footer.html'); ?>