<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>注册详情</h1>
    <?php echo $breadcrumbs; ?>
    <div class="row">
      <div class="small-12 columns">
        <table>
          <tbody>
            <tr>
              <td>姓名</td>
              <td><?php echo $info['name']; ?></td>
            </tr>
            <tr>
              <td>电话</td>
              <td><?php echo $info['mobile']; ?></td>
            </tr>
            <tr>
              <td>内容</td>
              <td><?php echo $info['content']; ?></td>
            </tr>
            <tr>
              <td>日期</td>
              <td><?php echo $info['create_date']; ?></td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="small-12 columns">
        <a class="button tiny alert" href="#" data-reveal-id="delete_check">删除</a>
      </div>
    </div>

  </div>
</div>
<div id="delete_check" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">请注意!</h2>
  <p class="lead">如果您点击删除按钮，信息将无法找回！！</p>
  <a class="button tiny alert" href="<?php echo site_url().'/admin/register/delete/'.$info['id']; ?>">
    删除
  </a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
