<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>添加微信账号</h1>
    <?php echo $breadcrumbs; ?>
    <form method="post" action="<?php echo site_url(); ?>/admin/wx/create" >
      <div class="row">
      <div class="large-12 columns <?php if(form_error('name')) echo 'error'; ?>">
      <label>微信账号
        <input type="text" name="name" value="<?php echo set_value('name'); ?>">
      </label>
      <?php echo form_error('name'); ?>
      </div>
      <div class="large-12 columns columns <?php if(form_error('token')) echo 'error'; ?>">
        <label>token
          <input type="text" name="token" value="<?php echo set_value('token'); ?>">
        </label>
      </div>
      <div class="large-12 columns columns columns <?php if(form_error('appid')) echo 'error'; ?>">
        <label>appid
          <input type="text" name="appid" value="<?php echo set_value('appid'); ?>">
        </label>
      </div>
      <div class="large-12 columns columns columns columns <?php if(form_error('appsecret')) echo 'error'; ?>">
        <label>appsecret
          <input type="text" name="appsecret" value="<?php echo set_value('appsecret'); ?>">
        </label>
      </div>
      <div class="large-12 columns">
        <input class="button tiny" type="submit" value="添加">
      </div>
      </div>
    </form>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>