<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
  
    <h1>微信管理</h1>
    
    <?php if($this->session->flashdata('result_code')){ ?>
    <div data-alert class="alert-box">
      <?php echo $this->session->flashdata('result_msg'); ?>
      <a href="#" class="close">&times;</a>
    </div>
    <?php } ?>
    
    <?php echo $breadcrumbs; ?>
    <div id="list-action-bar">
      <a class="button tiny right" href="<?php echo site_url(); ?>/admin/wx/create">添加</a>
    </div>
    <table class=".clearfix">
      <thead>
        <tr>
          <th>微信名称</th>
          <th>token</th>
          <th>appid</th>
          <th>创建时间</th>
          <th>最近修改时间</th>
        </tr>
      </thead>
      <tbody>
        <?php if($list){ ?>
        <?php foreach($list as $row){ ?>
        <tr>
          <td><a href="<?php echo site_url().'/admin/wx/update/'.$row['id']; ?>"><?php echo $row['name']; ?></a></td>
          <td><?php echo $row['token']; ?></td>
          <td><?php echo $row['appid']; ?></td>
          <td><?php echo $row['create_date']; ?></td>
          <td><?php echo $row['motify_date']; ?></td>
        </tr>
        <?php } ?>
        <?php }else{ ?>
        <?php } ?>
      </tbody>
    </table>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
