<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
  <h1>微信信息更新</h1>
  <?php if(isset($result_code)){ ?>
  <div data-alert class="alert-box <?php if(!$result_code) echo 'alert'; ?>">
    <?php echo $result_msg; ?>
    <a href="#" class="close">&times;</a>
  </div>
  <?php } ?>
  
  <?php echo $breadcrumbs; ?>
  
  <dl class="sub-nav">
    <!--<dd class="active"><a href="#">基本信息</a></dd>
    <dd><a href="<?php echo site_url().'/admin/field?source_type=wx&source_id='.$info['id']; ?>">其他信息</a></dd>-->
  </dl>
  
  <form method="POST" action="<?php echo site_url(); ?>/admin/wx/update">
    <input type="hidden" name="id" value="<?php echo $info['id']; ?>">
    <div class="row">
      <div class="large-12 columns <?php if(form_error('name')) echo 'error'; ?>">
        <label>微信名称
          <input type="text" name="name" value="<?php echo $info['name']; ?>">
        </label>
        <?php echo form_error('name'); ?>
      </div>
      <div class="large-12 columns columns <?php if(form_error('token')) echo 'error'; ?>">
        <label>token
          <input type="text" name="token" value="<?php echo $info['token']; ?>">
        </label>
        <?php echo form_error('token'); ?>
      </div>
      <div class="large-12 columns columns columns <?php if(form_error('appid')) echo 'error'; ?>">
        <label>appid
          <input type="text" name="appid" value="<?php echo $info['appid']; ?>">
        </label>
        <?php echo form_error('appid'); ?>
      </div>
      <div class="large-12 columns columns columns columns <?php if(form_error('appsecret')) echo 'error'; ?>">
        <label>appsecret
          <input type="text" name="appsecret" value="<?php echo $info['appsecret']; ?>">
        </label>
        <?php echo form_error('appsecret'); ?>
      </div>
      <div class="large-12 columns">
        <input class="button tiny" type="submit" value="更新">
        <a class="button tiny alert" href="#" data-reveal-id="delete_check">删除</a>
      </div>
    </div>
  </form>
  </div>
</div>

<div id="delete_check" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">请注意！！</h2>
  <p class="lead">如果您点击删除键，此微信信息即被删除，无法找回。</p>
  <a class="button tiny alert" href="<?php echo site_url().'/admin/wx/delete/'.$info['id']; ?>">删除</a>
  <a class="close-reveal-modal" aria-label="close">&#215;</a>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
