<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>添加图文回复</h1>
    <?php echo $breadcrumbs; ?>
    
    <form method="post" enctype="multipart/form-data" action="<?php echo site_url(); ?>/admin/host/newscreate" >
      <input type="hidden" name="type" value="图文回复"><!--routes-->
      <div class="row">
      <div class="large-12 columns <?php if(form_error('keyword')) echo 'error'; ?>">
        <label>关键字段
          <input type="text" name="keyword" value="<?php echo set_value('keyword'); ?>"><!--routes&news-->
        </label>
        <?php echo form_error('keyword'); ?>
      </div>
      <div class="large-12 columns columns <?php if(form_error('wx_id')) echo 'error'; ?>">
        <label>微信账号<br />
          <!--<input type="number" name="wx_id" value="<?php echo set_value('wx_id'); ?>">--><!--routes&news-->
          <input type="radio" name="wx_id" value="1"><label>用户端微信</label>
          <input type="radio" name="wx_id" value="2"><label>众包端微信</label>
        </label>
        <?php echo form_error('wx_id'); ?>
      </div>
      <div class="large-12 columns columns columns <?php if(form_error('front_id')) echo 'error'; ?>">
        <label>上级菜单
          <input type="number" name="front_id" value="<?php echo set_value('front_id'); ?>"><!--news-->
        </label>
        <?php echo form_error('front_id'); ?>
      </div>
      <div class="large-12 columns columns columns columns <?php if(form_error('title')) echo 'error'; ?>">
        <label>回复题目
          <input type="text" name="title" value="<?php echo set_value('title'); ?>"><!--news-->
        </label>
        <?php echo form_error('title'); ?>
      </div>
      <div class="large-12 columns columns columns columns columns <?php if(form_error('desc')) echo 'error'; ?>">
        <label>回复简介
          <input type="text" name="desc" value="<?php echo set_value('desc'); ?>"><!--news-->
        </label>
        <?php echo form_error('desc'); ?>
      </div>
      <div class="large-12 columns columns columns columns columns columns <?php if(form_error('content')) echo 'error'; ?>">
        <label>回复内容
          <textarea type="text" name="content" value="<?php echo set_value('content'); ?>"></textarea><!--news-->
        </label>
        <?php echo form_error('content'); ?>
      </div>
      <div class="large-12 columns columns columns columns columns columns columns <?php if(form_error('link')) echo 'error'; ?>">
        <label>回复链接
          <input type="url" name="link" value="<?php echo set_value('link'); ?>"><!--news-->
        </label>
        <?php echo form_error('link'); ?>
      </div>
      <!--添加图片-->
      <div class="large-12 columns columns columns columns columns columns columns columns <?php if(form_error('userfile')) echo 'error'; ?>">
        <label>上传图片
          <?php echo form_open_multipart('host/newscreate');?>
          <input type="file" name="userfile" value="<?php echo set_value('userfile'); ?>"><!--news-->
        </label>
        <?php echo form_error('userfile'); ?>
      </div>
      <div class="large-12 columns">
        <input class="button tiny" type="submit" value="添加">
      </div>
    </form>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>