<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">
    <h1>编辑图文回复</h1>

    <?php if(isset($result_code)){ ?>
    <div data-alert class="alert-box <?php if(!$result_code) echo 'alert'; ?>">
      <?php echo $result_msg; ?>
      <a href="#" class="close">&times;</a>
    </div>
    <?php } ?>

    <?php echo $breadcrumbs; ?>

<!--    <dl class="sub-nav">
      <dd class="active"><a href="#">基本信息</a></dd>
      <dd><a href="<?php echo site_url().'/admin/field?source_type=service&source_id='.$info['id']; ?>">套餐详情</a></dd>
    </dl>-->


    <form method="POST" enctype="multipart/form-data" action="<?php echo site_url(); ?>/admin/host/newsupdate">
      <input type="hidden" name="id" value="<?php echo $info['id']; ?>">
      <input type="hidden" name="type" value="图文回复">
      <div class="row">
        <div class="large-12 columns <?php if(form_error('keyword')) echo 'error'; ?>">
          <label>关键字段
            <input type="text" name="keyword" value="<?php echo $info['keyword']; ?>">
          </label>
          <?php echo form_error('keyword'); ?>
        </div>
        <div class="large-12 columns columns <?php if(form_error('wx_id')) echo 'error'; ?>">
          <label>微信账号<br />
            <!--<input type="number" name="wx_id" value="<?php echo $info['wx_id']; ?>">-->
            <input type="radio" name="wx_id" value="1" <?php if($info['wx_id'] == 1) echo 'checked'; ?>><label>用户端微信</label>
            <input type="radio" name="wx_id" value="2" <?php if($info['wx_id'] == 2) echo 'checked'; ?>><label>众包端微信</label>
          </label>
          <?php echo form_error('wx_id'); ?>
        </div>
        <div class="large-12 columns columns columns <?php if(form_error('front_id')) echo 'error'; ?>">
          <label>上级菜单
            <input type="number" name="front_id" value="<?php echo $info['front_id']; ?>">
          </label>
          <?php echo form_error('front_id'); ?>
        </div>
        <div class="large-12 columns columns columns columns <?php if(form_error('title')) echo 'error'; ?>">
          <label>回复题目
            <input type="text" name="title" value="<?php echo $info['title']; ?>">
          </label>
          <?php echo form_error('title'); ?>
        </div>
        <div class="large-12 columns columns columns columns columns <?php if(form_error('desc')) echo 'error'; ?>">
          <label>回复简介
            <input type="text" name="desc" value="<?php echo $info['desc']; ?>">
          </label>
          <?php echo form_error('desc'); ?>
        </div>
        <div class="large-12 columns columns columns columns columns columns <?php if(form_error('content')) echo 'error'; ?>">
          <label>回复内容
            <textarea type="text" name="content" value="<?php echo $info['content']; ?>"></textarea>
          </label>
          <?php echo form_error('content'); ?>
        </div>
        <div class="large-12 columns columns columns columns columns columns columns <?php if(form_error('link')) echo 'error'; ?>">
        <label>回复链接
          <input type="url" name="link" value="<?php echo $info['link']; ?>">
        </label>
        <?php echo form_error('link'); ?>
        </div>
        <!--添加图片-->
        <div class="large-12 columns columns columns columns columns columns columns columns <?php if(form_error('userfile')) echo 'error'; ?>">
        <label>修改图片
        <?php echo form_open_multipart('host/newsupdate');?>
        <?php if($info['userfile']){ ?>
    	  <img src="<?php echo base_url().'uploads/'.$info['userfile']; ?>"  style=" width:50px; height:50px;"/>
    	<?php } ?>
          <input type="file" name="userfile" value="<?php echo $info['userfile']; ?>">
        </label>
        <?php echo form_error('userfile'); ?>
        </div>
        <div class="large-12 columns">
          <input class="button tiny" type="submit" value="更新">
          <a class="button tiny alert" href="#" data-reveal-id="delete_check">删除</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="delete_check" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">请注意!</h2>
  <p class="lead">如果您点击删除按钮，本套餐信息将无法找回！！</p>
  <a class="button tiny alert" href="<?php echo site_url().'/admin/host/newsdelete/'.$info['id']; ?>">
    删除
  </a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>