<?php $this->load->view('admin/public/header.html'); ?>
<?php $this->load->view('admin/public/top.html'); ?>
<div class="row">
  <div class="medium-2 columns">
    <?php $this->load->view('admin/public/side.html'); ?>
  </div>
  <div class="medium-10 columns">

    <div class="row">
      <div class="small-12 columns">
        <h1>服务列表</h1>
        <?php if($this->session->flashdata('result_code')){ ?>
        <div data-alert class="alert-box">
          <?php echo $this->session->flashdata('result_msg'); ?>
          <a href="#" class="close">&times;</a>
        </div>
        <?php } ?>
        <?php echo $breadcrumbs; ?>
      </div>


      <div class="small-12 columns">
        <form id="action-bar" method="POST" action="#">
          <div class="row">
            <div class="small-6 medium-4 columns">
              <div class="row collapse">
                <div class="small-3 medium-3 columns">
                  <span class="prefix">编号</span>
                </div>
                <div class="small-9 medium-9 columns">
                  <input type="text" name="num" placeholder="" value="<?php echo $search['num']; ?>">
                </div>
              </div>
            </div>
            <div class="small-6 medium-4 columns">
              <div class="row collapse">
                <div class="small-3 medium-3 columns">
                  <span class="prefix">姓名</span>
                </div>
                <div class="small-9 medium-9 columns">
                  <input type="text" name="name" placeholder="" value="<?php echo $search['name']; ?>">
                </div>
              </div>
            </div>
            <div class="small-6 medium-4 columns">
              <div class="row collapse">
                <div class="small-3 medium-3 columns">
                  <span class="prefix">电话</span>
                </div>
                <div class="small-9 medium-9 columns">
                  <input type="tel" name="mobile" placeholder="" value="<?php echo $search['mobile']; ?>">
                </div>
              </div>
            </div>
            <div class="small-6 medium-4 columns">
              <div class="row collapse">
                <div class="small-3 medium-3 columns">
                  <span class="prefix">街道</span>
                </div>
                <div class="small-9 medium-9 columns">
                  <input type="city" name="city" placeholder="" value="<?php echo $search['city']; ?>">
                </div>
              </div>
            </div>
            <div class="small-6 medium-4 columns">
              <div class="row collapse">
                <div class="small-3 medium-3 columns">
                  <span class="prefix">日期</span>
                </div>
                <div class="small-9 medium-9 columns">
                  <input type="date" name="date" placeholder="" value="<?php echo $search['date']; ?>">
                </div>
              </div>
            </div>
            <div class="small-6 medium-4 columns">
              <div class="row collapse">
                <div class="small-3 columns">
                  <span class="prefix">状态</span>
                </div>
                <div class="small-9 columns">
                  <select name="status" class="expand">
                    <option value="0">--请选择状态--</option>
                    <?php foreach($status_list as $key=>$row){ ?>
                    <option value="<?php echo $key; ?>" <?php if($search['status'] == $key) echo 'selected'; ?>><?php echo $row; ?></option>
                    <?php } ?>
                  </select>
                </div>
              </div>
            </div>
            <div class="small-6 medium-4 columns end">
              <input type="submit" value="搜索" class="button tiny">
              <button class="button tiny alert" onclick="return reset_form(this)">重置</button>
            </div>
          </div>
        </form>
      </div>


      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th><div class="select_check" onclick="all_check(this)"></div></th>
              <th>服务编号</th>
              <th>订单编号</th>
              <th>姓名</th>
              <th>手机号码</th>
              <th>服务人员</th>
              <th>预约日期</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            <?php if($list){ ?>
            <?php foreach($list as $row){ ?>
            <tr>
              <td data-id="<?php echo $row['id']; ?>"><div class="select_check select_item" onclick="select_check(this)"></div></td>
              <td><a href="<?php echo site_url().'/admin/order_item/update/'.$row['id']; ?>"><?php echo $row['num']; ?></a></td>
              <td><?php echo $row['order_id']; ?></td>
              <td><?php echo $row['name']; ?></td>
              <td><?php echo $row['mobile']; ?></td>
              <td><?php echo $row['nurse_id']; ?></td>
              <td><?php echo $row['date'].' '.$row['time']; ?></td>
              <td><?php echo $row['status_string']; ?></td>
            </tr>
            <?php } ?>
            <?php }else{ ?>
            <?php } ?>
          </tbody>
        </table>
      </div>


      <div class="small-12 medium-6 columns">
        <button id="more_action_button" href="#" data-dropdown="more_action" aria-controls="more_action" aria-expanded="false" class="button dropdown tiny" disabled>操作</button><br>
        <ul id="more_action" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="#">待定</a></li>
        </ul>
      </div>


      <div class="small-12 medium-6 columns">
        <?php echo $this->pagination->create_links(); ?>
      </div>


    </div>
  </div>
</div>
<?php $this->load->view('admin/public/footer.html'); ?>
<script src="<?php echo base_url(); ?>foundation/js/city.js"></script>
<script>
  $(function(){
    var city = $("[type='city']").val();
    if(city != ''){
      $.ajax({
        url: 'http://www.ipeibama.com/index.php/api/get_city_name/'+city,
        type: 'GET',
        global: false,
        success: function(data){
          $("#city_copy").val(city);
          $("[type='city']").val(data);
        }
      });
    }
  });
</script>
