<?php $this->load->view('mobile/public/header.html'); ?>
<div class="row">
  <div class="small-12 columns" style="margin-top:10px;">
    <form method="POST" action="<?php echo mobile_url('mobile/order/entry', 2); ?>" onsubmit="return check()">
      <input type="hidden" name="item_id" value="<?php echo $item_id; ?>">
      <div class="row">
        <?php foreach($list as $key=>$row){ ?>
        <?php if($row['is_number'] == 1){ ?>
        <div class="small-12 columns">
          <div class="row">
            <div class="small-4 columns">
              <label class="inline" for="item_<?php echo $key; ?>"><?php echo $row['name']; ?></label>
            </div>
            <div class="small-6 columns">
              <input class="entry_input" type="<?php echo $row['type']; ?>" id="item_<?php echo $key; ?>" name="log[<?php echo $row['id']; ?>]">
            </div>
            <div class="small-2 columns">
              <label class="inline"><?php echo $row['unit']; ?></label>
            </div>
          </div>
        </div>
        <?php }else{ ?>
        <div class="small-12 columns">
          <div class="row">
            <div class="small-4 columns">
              <label class="inline" for="item_<?php echo $key; ?>"><?php echo $row['name']; ?></label>
            </div>
            <div class="small-8 columns">
              <textarea id="item_<?php echo $key; ?>" name="log[<?php echo $row['id']; ?>]"></textarea>
            </div>
          </div>
        </div>
        <?php } ?>
        <?php } ?>
        <div class="small-12 columns">
          <input type="submit" class="button tiny expand" value="提交">
        </div>
      </div>
    </form>
  </div>
</div>

<?php $this->load->view('mobile/public/footer.html'); ?>
<script>
function check(){
  var input = $(".entry_input");
  var yes = 1;
  input.each(function(){
    if($(this).val() == ''){
      alert('请输入'+$(this).parent().siblings(".small-4").find("label").html());
      yes = 0;
      return false;

    }
  });
  if(yes == 0){
    return false;
  }

}
</script>
